* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    height: 100vh;
    place-content: center;

}
.game-board {
    display: grid;
    // gap: 8px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 150px;
}

#startGame {
    margin: 20px auto 0 auto;

}

.game-square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid black;
    
    &:hover {
        // scale: 1.05;
        padding: 0;
    }
    &:nth-child(3n) {
        border-right: none;
    }
    &:nth-child(3n - 2) {
        border-left: none;
    }
    &:nth-child(-n + 3) {
        border-top: none;
    }
    &:nth-child(n+7) {
        border-bottom: none;
    }

}
%symbol {
    position: absolute;
    // top: 50%;
    // left: 50%;
    content: '';
    display: block;
    width: 45px;
    background-color: black;
}
.x::before {
    position: absolute;
    transform: rotate(45deg);
    content: '';
    display: block;
    width: 90%;
    height: 5px;
    background-color: black;
}
.x::after {
    position: absolute;
    transform: rotate(-45deg);
    content: '';
    display: block;
    width: 90%;
    height: 5px;
    background-color: black;
}
.o::before {
    @extend %symbol;
    height: 45px;
    border-radius: 50%;
}
.o::after {
    @extend %symbol;
    width: 38px!important;
    height: 38px;
    border-radius: 50%;
    background-color: white;
}