* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: grid;
  height: 100vh;
  place-content: center;
}

.game-board {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  animation: gameExpand 1s linear 1 forwards;
}

@keyframes gameExpand {
  from {
    width: 0;
    height: 0;
  }
  to {
    height: 350px;
    width: 350px;
  }
}
@keyframes expand {
  from {
    height: 0;
    width: 0;
  }
  to {
    margin: 0 0;
    height: 116.6666666667px;
    width: 116.6666666667px;
  }
}
#startGame {
  margin: 20px auto 0 auto;
}

.game-square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 116.6666666667px;
  height: 116.6666666667px;
  font-size: 2rem;
  text-align: center;
  border: 1px solid black;
  animation: expand 1s linear 1 forwards;
}
.game-square:hover {
  padding: 0;
}
.game-square:nth-child(3n) {
  border-right: none;
}
.game-square:nth-child(3n-2) {
  border-left: none;
}
.game-square:nth-child(-n+3) {
  border-top: none;
}
.game-square:nth-child(n+7) {
  border-bottom: none;
}

.o::after, .o::before {
  position: absolute;
  content: "";
  display: block;
  width: 105px;
  background-color: black;
}

.x::before {
  position: absolute;
  transform: rotate(45deg);
  content: "";
  display: block;
  width: 105px;
  height: 15.75px;
  background-color: black;
}

.x::after {
  position: absolute;
  transform: rotate(-45deg);
  content: "";
  display: block;
  width: 105px;
  height: 15.75px;
  background-color: black;
}

.o::before {
  height: 105px;
  border-radius: 50%;
}

.o::after {
  width: 73.5px !important;
  height: 73.5px;
  border-radius: 50%;
  background-color: white;
}

.modal, .option-menu, .selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection {
  flex-direction: column;
  gap: 26px;
  margin-bottom: 2rem;
}

.option-menu {
  gap: 26px;
}

.selection select {
  width: 50px;
  height: 40px;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  appearance: none;
  border: 2px solid darkgray;
  border-radius: 5px;
}
.selection select:hover {
  cursor: pointer;
  border: 2.2px solid rgb(134, 134, 134);
}
.selection select:focus {
  border: 2.2px solid rgb(134, 134, 134);
}

.selection span {
  font-size: 1.5rem;
  font-weight: 600;
}

.button-wrapper {
  display: flex;
}

.btn {
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  margin: 2px 4px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}
.btn:hover {
  box-shadow: 0 2px 4px 1px rgb(179, 179, 179);
  border: 3px solid black;
}

.btn-red {
  background-color: #ff7d7d;
}
.btn-red:hover {
  background-color: #ff5757;
}

.btn-green {
  background-color: #14ce90;
}
.btn-green:hover {
  background-color: #0fad7b;
}

.modal {
  flex-direction: column;
  gap: 60px;
  position: fixed;
  border: 3px solid black;
  padding: 80px 40px;
  background-color: #d0d0d0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 0;
  transition: scale 0.4s ease-in;
}
.modal h1 {
  font-size: 4rem;
  text-align: center;
}

#overlay.active, .modal.active {
  scale: 1;
  opacity: 1;
  transition: scale 0.4s ease-in;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: scale 0.4s ease-in;
}
#overlay.active {
  pointer-events: all;
}

/*# sourceMappingURL=styles.css.map */
